<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mimic.apphangar"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
    android:versionCode="30"
    android:versionName="2.1" >

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="ca.mimic.apphangar.BootStart"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ca.mimic.apphangar.StatsWidget"
            android:icon="@drawable/ic_launcher"
            android:label="@string/stats_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/statswidget" />
        </receiver>
        <receiver
            android:name="ca.mimic.apphangar.AppsWidget"
            android:icon="@drawable/ic_launcher"
            android:label="@string/apps_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appswidget" />
        </receiver>

        <activity
            android:name="ca.mimic.apphangar.StatsWidgetSettings"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.mimic.apphangar.AppsWidgetSettings"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name="ca.mimic.apphangar.WatchfulService"
            android:exported="false"
            android:process=":appwatch" >
        </service>

        <activity
            android:name="ca.mimic.apphangar.Settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.mimic.apphangar.Instructions"
            android:label="Hangar Instructions"
            android:parentActivityName="ca.mimic.apphangar.Settings"
            android:theme="@android:style/Theme.Holo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Settings" />
        </activity>
    </application>

</manifest>
